---
export const immigrants = [
  {
    name: "Laureano Lias (Lee Chi Woon)",
    info: "Laureano Lias (Lee Chi Woon) was born in 1873, in Kirghez, Yeonje-gu, Busan and died October 14, 1931 in Calotmul, Yucatan, Mexico. On his death certificate, his nationality was left blank. In October of 1909, he donated money for the Korean National Association building in Merida. He lived at Hacienda Kancabchen in 1909. He was a founding member of the KNA in Oaxaca in 1912 and was number #237 on the membership list dated July, 14, 1914. In January 1917, he donated to the Haedong School where his children attended. On April 1, 1917, he was appointed to the judicial committee in Hacienda Sanlatah. In 1924, he lived at the Hacienda No Ac. In 1927, he ran for the Vice Presidency of the KNA in Merida. In 1930, he was a candy maker in Motul. Marta Perez was born in 1877 and died May 26, 1953 in Merida, Yucatan, She was a midwife and a healer. Together they had seven children, the first son was lost in Korea, then there was Jose Maria, Maria, Samuel, Rosa, and Elia."
  },
  {
    name: "Nicholas Kim (Kim Tae Shik)",
    info: "Nicholas Kim (Kim Tae Shik) was born in 1882 in Seoul and died September 12, 1945 in Merida, Yucatan. He was one of the founders of the Korean National Association members in Merida in 1909. On September 28, 1910, he contributed money to Sungmu School in Merida. In 1912, he was the Secretary of the KNA in Merida. In 1918, he was in charge of the regulation and law of the police station in Merida. From 1928 to 1929, he worked as a judicial officer and a school official. Maria Kim (Kim Soon Yi) was born in Seoul, Korea in 1893. She was a member of the 1919 Korean National Association. Together they had seven children, Pastora, Esperanza, Julia, Estrella, Nicholas, Fermin, and Rosa."
  },
  {
    name: "Manuel Yi Donoy (Yi Don Ui)",
    info: "Manuel Yi Donoy (Yi Don Ui) was born on February 6, 1884 in Seoul, Korea. In 1917, he was the Secretary of the Korean National Association in Pixya (sic). He was registered as a businessman with the 1919 Korean National Association. He was President of the KNA Merida in 1926 and candidate for President in 1928. He lived in Chetumal in 1942. Maria Liazama was born on November 28, 1878. Together they had nine children, Elvia, Jose, Edith, Mirella, Elias, Martina, Hiberto, Fanny and another daughter (name unknown)."
  },
  {
    name: "Jose King Yung (Kim Kyung Moon)",
    info: "Jose King Yung (Kim Kyung Moon) born in 1877 in Yang San Kyungsangbuk-do, Korea. He was married to Maria Yun. Together they had three children Pedro, Maria, and Felipe."
  },
  {
    name: "Manuel King Yung (Kim Jae Yong)",
    info: "Manuel King Yung (Kim Jae Yong) was born on Dec 26, 1896 in Busan, Korea. He was married to Juana Lias Perez (Lee Ghap Nyo) on March 17, 1918 in Merida, Yucatan. Together they had six children, Javier, Francisco, Sara, Alicia, Juan and a daughter (name unknown)."
  },
  {
    name: "Pedro King (Kim Han Yeong)",
    info: "Pedro King (Kim Han Yeong) was born in Korea and was married to Matilda Chan. Together they had seven children, Marcelina, Pedro, Armando, Aida, Luis, Hernan, and Ignacio."
  },
  {
    name: "Miguel Kim Son (Kim Sun Jae)",
    info: "Miguel Kim Son (Kim Sun Jae) was born October 6, 1888 in Jeonra-do. He joined the Korean National Association from Hacienda Sanatlah in 1909. In 1919, he was in XXX. In 1940 he was a gum harvester in Chetumal, Quintana Roo. In the 1950s, he went to Guatemala. He passed away on November 28, 1964 in Piste, Yucatan, Mexico. He had one daughter named Maria Amparo with Eulogia Yam."
  },
  {
    name: "Ramon Pack (Pak Chang Woon)",
    info: "Ramon Pack (Pak Chang Woon) was born on Jan 21, 1889 in Seoul, Korea. He was married to Joaquina Gem Chen (Hyeon Mi Un) on January 26, 1910 in Mexico. In 1915, he lived at Hacienda XXX. In 1924 XXX. In 3/1921, he went to Cuba. On 3/13/1962, he arrived in the United States. He died on Feb 10, 1968 in Los Angeles. Together they had six children, Pedro, Juan, Silveria, Josefine, Carlos, and Bebita."
  },
  {
    name: "Ramon Pack (Pak Chang Woon) - 2nd Wife",
    info: "Ramon Pack (Pak Chang Woon) was born on Jan 21, 1889 in Seoul, Korea. He was married to Maria Caridad Lee Co in Cuba. In 1915, he lived at Hacienda XXX. In 1924 XXX. In 3/1921, he went to Cuba. On 3/13/1962, he arrived in the United States. He died on Feb 10, 1968 in Los Angeles. They had three children, Heroina, Eladia, and Luciano."
  },
  {
    name: "Jose Lee (Lee Woo Sik)",
    info: "Jose Lee (Lee Woo Sik) was born in 1867 in Kyunggi, Korea. He was married to Cornelia Co (Yeol le Co). He was on the Young Korean Academy Mexico Committee in 1918. He went to Cuba in 3/1921. He was vice president of the Korean National Association in 1929 in Matanzas. He was a deacon on Oct 23, 1930 in Matanzas Cuba. He died on 12/25/1948 in Cardenas, Cuba. 1909 Supported the movement to secure the rights of Koreans in Yucatan, Mexico - 1918 Acted as a police officer in the Merida district and a treasurer in the Santa Fe district - 1923 Developed a campaign to spread the Korean language to Koreans in Matanzas, Cuba - 1929 Promoter of the 'Korean Dictionary Compilation Society' - In 1930, he supported the Gwangju Student Movement, and from 1930 to 1933, he acted as the president of the Korean National Association and Matansas Region, and acted as a treasurer. They had six children, Pedro, Maria Caridad, Florencia, Rosa, Estela, and Esther."
  },
  {
    name: "Maria Lizama (Han San Lee)",
    info: "Maria Lizama (Han San Lee) was born on November 28, 1878 in Seoul, Korea. She was widowed and traveled on the ship with her two sons, Antonio Yi Diaz (Ahn Yeong Hu) and Pedro Yi Diaz (Ahn Yeong Hui)."
  },
  {
    name: "Antonio Diaz (Ahn Yeong Hu)",
    info: "Antonio Diaz (Ahn Yeong Hu) was born in 1899 in Seoul, Korea. He was married to Maria Dolores Dominguez."
  },
  {
    name: "Samuel Lias Perez (이공식)",
    info: "Samuel Lias Perez (이공식) was born Jul 16, 1911 in Motul, Yucatan. He was a founding member of the 1950 Korean National Association in Merida, Yucatan. He married Teodora Palma Gurubel and together they had 10 children, Salmon, Olga, Marta, Sara, Elizabeth, Elia, Daneil, Samuel, Juan, and Dora."
  }
];

---

{immigrants.map(({name, info}, index) => (
  <li key={index} class="list-item">
    <h3 class="name">{name}</h3>
    <p class="text">{info}</p>
  </li>
))}

<!-- <li class="card-item">
  <h3 class="name">{name}</h3>
  <p class="text">{description}</p>
</li> -->

<style>
  .list-item {
    padding: 40px;

  }

  .list-item h3 {
    margin-bottom: 1em;
    text-align: center;
  }
</style>